
@media(max-width: 424px) {
  .header {
    width: 335px;
  }

  .menu-1 {
    width: 335px;
  }

  .menu {
    width: 280px;
  }

  .container {
    width: 335px;
  }

  .bg-main-left {
    height: 886px;
  }

  .project-img {
    width: 335px;
    height: 353px;
  }

  .project-text-block {
    width: 257px;
  }

  .company-address {
    width: 335px;
    flex-wrap: wrap;
  }
}

