@media(max-width: 1023px) {
  
  .menu-1 {
    width: 728px;
  }

  .header {
    width: 768px;
  }

  .container {
    width: 728px;
  }

  .project-img {
    margin-left: 300px;
  }

  .bg-main-right {
    height: 1300px;
  }

  .mt-40-md {
    margin-top: 40px;
  }

  .mx-auto-md {
    margin-right: auto;
    margin-left: auto;
  }
}

