
@media(max-width: 374px) {
  .header {
    width: 280px;
  }
	
  .menu-1 {
    width: 280px;
  }

  .container {
    width: 280px;
  }

  .bg-main-left {
    height: 907px;
  }

  .project-img {
    width: 280px;
    height: 295px;
  }

  .project-text-block {
    width: 201px;
    padding-bottom: 106px;
  }

  .news-btn-width {
    width: 109px;
  }  

  .company-address {
    width: 280px;
  }
}
