a {
  text-decoration: none;
}

.m-0 {
  margin: 0;
}

.mt-108 {
  margin-top: 108px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-47 {
  margin-top: 47px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.pt-100 {
  padding-top: 100px;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: $primary-color;
}

.text-blue {
  color: $bg-btn;
}

.text-343434 {
  color: #343434;
}

.text-303942 {
  color: $dark-color;
}

.font-family-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-family-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.default-font-size {
  font-size: $default-font-size;
}

.font-size-30px {
  font-size: 30px;
}

.font-size-18px {
  font-size: 18px;
}

.font-size-11px {
  font-size: 11px;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-300 {
  font-weight: 300;
}
